<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/post.css"/>
</head>
<body>
    
    <%- include("includes/header.ejs") %>


<%-include("includes/rightSection.ejs")%>


<%-include("includes/advertisement.ejs")%>







       <br>
       <br>


    <% for(let i =0;i<data.length;i++){ %>
             <div class="userPost">
              
                <h4 class="authorId">  &nbsp; <i class="fa-regular fa-user"></i>
 &nbsp; Author id = <%=data[i].id%></h4>

        <img src=<%=data[i].image%> alt="userPostImg">
                <h2 class="headertitle"><%=data[i].title%> </h2>

                <h3 class="userPostDescription"><%=data[i].description%> </h3>
                <h4 class="hastag"><%=data[i].tags%></h4>


                <div class="postButton">


            <form action="/Quora/post/<%=data[i].authorId%>/like?_method=PATCH" method="post">


                               <button type="submit"> <i class="fa-regular fa-thumbs-up"></i></button>   &nbsp;
                                 <h4 style="display: inline;"> <%=data[i].upvotes%></h4>
                   </form>
                                    &nbsp; &nbsp;                                     &nbsp; &nbsp; 

                               <a href="/Quora/post/<%=data[i].authorId%>/edit">
                               <i class="fa-regular fa-pen-to-square"></i>
</a>
           

                                    &nbsp; &nbsp; 
                                    &nbsp; &nbsp; 

 

     <form action="/Quora/<%=data[i].authorId%>/Delete?_method=DELETE" method="POST" >
        <button type="submit">        
                                                         <i class="fa-regular fa-trash-can"></i>
       </button>

     </form>


     </div>

    </div>

 <%}%>









</body>

</html>